@model IEnumerable<FrontEndApi.Models.ProductoViewModel>

@{ ViewData["Title"] = "Carrito"; }

<h1>Carrito</h1>

@if (Model != null && Model.Any())
{
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProdName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProdPrecio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ProdName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ProdPrecio)
    </td>
    <td>
        <a class="btn btn-outline-danger" asp-action="Carrito" asp-controller="Producto" asp-route-idproducto="@item.ProdId">
            Eliminar
        </a>
    </td>
</tr>}
    </tbody>
</table>

                <a asp-action="Pedidos" asp-controller="Producto">
                    Realizar pedido
                </a> }
                            else
                            {
                <p style="color:red">Carrito vacio</p>}
