@model FrontEndApi.Models.ProductoViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ProductoViewModel</h4>
    <hr />
    <dl class="row">
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProdName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProdName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProdDescrip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProdDescrip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProdPrecio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProdPrecio)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.ProdId  }) |
    <a asp-action="Index">Back to List</a>
</div>
