@model IEnumerable<FrontEndApi.Models.ProductoViewModel>

@{
    ViewData["Title"] = "GetProductos";
    List<int> carrito = Context.Session.GetObject<List<int>>("CARRITO");
    }

<h1>GetProductos</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProdName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProdPrecio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ProdName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ProdPrecio)
    </td>
    <td>
        @if (carrito != null && carrito.Contains(item.ProdId))
        {
<button disabled class="btn btn-outline-danger disabled">En carrito</button> }
                else
                {
<a class="btn btn-outline-success" asp-action="GetProductos" asp-controller="Producto" asp-route-idproducto="@item.ProdId">
    Añadir a carrito
</a>                }

    </td>
</tr>}
    </tbody>
</table>
